:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/leptonxlite/logo-light.png');
    --lpx-logo-icon: url('/images/logo/leptonxlite/logo-light-thumbnail.png');
}
:root .abp-account-layout .lpx-brand-logo{
    --lpx-logo: url('/images/logo/leptonxlite/logo-dark.png');
}
:root {
    --bs-text-opacity: 1;
}
form label.error {
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}
.hiding-first .col-12:first-child {
    display: none;
}